<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calisthenicsworkout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WorkoutApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalisthenicsWorkout">
        <activity
            android:name=".PhotoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalisthenicsWorkoutNoActionBar"/>
        <activity
            android:name=".VideoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalisthenicsWorkout.Video" />

        <receiver
            android:name=".TimerExpiredReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".TimerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalisthenicsWorkout.Timer" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalisthenicsWorkoutNoActionBar" />
        <activity
            android:name=".AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CalisthenicsWorkoutNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CalisthenicsWorkout" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>